---
---

<!-- footer -->
<hr class="border-astro-gray-500">
<div class="container">
	<nav arial-label="Secondary" class="flex flex-col items-start justify-between gap-12 py-8 sm:flex-row-reverse md:py-12">
		<div class="m-5 grid grid-cols-2 gap-12 sm:flex sm:flex-wrap sm:gap-16 lg:gap-20">
			<section class="group flex flex-col">
				<h2 id="footerHeading0" class="code mb-4 text-base text-gray leading-none opacity-50">
					Resources
				</h2>
				<ul aria-labelledby="footerHeading0" class="flex flex-col gap-2">
					<li>
						<a href="https://docs.astro.build/en/getting-started/" class="link whitespace-nowrap">
							Documentation
						</a>
					</li><li>
						<a href="https://astro.new/" class="link whitespace-nowrap">
							Starter templates
						</a>
					</li><li>
						<a href="/themes/" class="link whitespace-nowrap">
							Themes
						</a>
					</li><li>
						<a href="/integrations/" class="link whitespace-nowrap">
							Integrations
						</a>
					</li>
				</ul>
			</section>
			<section class="group flex flex-col">
				<h2 id="footerHeading1" class="code mb-4 text-base text-gray leading-none opacity-50">
					Community
				</h2>
				<ul aria-labelledby="footerHeading1" class="flex flex-col gap-2">
					<li>
						<a href="/showcase/" class="link whitespace-nowrap">
							Showcase
						</a>
					</li><li>
						<a href="https://github.com/withastro/astro/blob/main/CONTRIBUTING.md" class="link whitespace-nowrap">
							Contributing
						</a>
					</li><li>
						<a href="https://opencollective.com/astrodotbuild" class="link whitespace-nowrap">
							Open Collective
						</a>
					</li><li>
						<a href="/chat" class="link whitespace-nowrap">
							Join our Discord
						</a>
					</li>
				</ul>
			</section>
			<section class="group flex flex-col">
				<h2 id="footerHeading2" class="code mb-4 text-base text-gray leading-none opacity-50">
					About
				</h2>
				<ul aria-labelledby="footerHeading2" class="flex flex-col gap-2">
					<li>
						<a href="/press/" class="link whitespace-nowrap">
							Press
						</a>
					</li><li>
						<a href="/careers/" class="link whitespace-nowrap">
							Careers
						</a>
					</li><li>
						<a href="/telemetry/" class="link whitespace-nowrap">
							Telemetry
						</a>
					</li><li>
						<a href="/partnerships/" class="link whitespace-nowrap">
							Partner with us!
						</a>
					</li>
				</ul>
			</section>
			<section class="group flex flex-col">
				<h2 id="footerHeading3" class="code mb-4 text-base text-gray leading-none opacity-50">
					More links
				</h2>
				<ul aria-labelledby="footerHeading3" class="flex flex-col gap-2">
					<li>
						<a href="/blog/" class="link whitespace-nowrap">
							Blog
						</a>
					</li><li>
						<a href="https://shop.astro.build" class="link whitespace-nowrap">
							Swag Shop
						</a>
					</li><li>
						<a href="/wallpapers/" class="link whitespace-nowrap">
							Wallpapers
						</a>
					</li><li>
						<a href="https://studio.astro.build" class="link whitespace-nowrap">
							Studio
						</a>
					</li>
				</ul>
			</section>
		</div>
	</nav>
</div>
<style>
	.text-base {
		font-size: 1rem;
		line-height: 1.5rem;
	}
	.text-gray {
		color: #cccccc;
	}
	.link {
		--tw-text-opacity: 1;
		color: rgb(242 246 250 / var(--tw-text-opacity));
		transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
		transition-timing-function: cubic-bezier(.4,0,.2,1);
		transition-duration: .15s;
	}
</style>
